
.alert-bar {
  background-color: #5FBB55;
  transition: .2s;
  padding: 8px 0;
  color: white;
  font-size: 16px;
  font-family: $open;
  font-weight: lighter;
  position: absolute;
  width: 100%;
  z-index: 200;
  height: auto;
  transform: translateY(0);
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    color: white;
    padding-left: 20px;

    i {
      color: white;
      padding: 0 10px;
      transform: scale(1);
      transition: .2s;
    }
  }

  i {
    color: white;
    padding-right: 20px;
    transform: scale(1);
    transition: .2s;
  }
}

.cleared {
  transform: translateY(-20px);
  transition: .5s;
  padding: 0;

  i {
    transform: scale(0);
    transition: .2s;
  }
}
