
.alert-bar {
  background-color: #5FBB55;
  transition: transform .1s ease-out;
  // padding: 8px 0;
  color: white;
  font-size: 16px;
  font-family: $open;
  font-weight: lighter;
  position: absolute;
  width: 100%;
  z-index: 200;
  height: auto;
  transform: translateY(0);
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
    margin: 10px;
    color: white;
    padding-left: 20px;

    img {
      width: 13px;
      height: auto;
      padding: 0 10px;
    }
  }

  img {
    padding-right: 20px;
    width: 13px;
    height: auto;
  }
}

.cleared {
  transform: translateY(-40px);
  transition: transform .1s ease-in;
}
