.artist-page-container {
  height: 100vh;
  width: 100%;
  overflow: scroll;

  .artist-page {
    // margin-left: 220px;
    width: 100%;
    height: 100%;

    .artist-header {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      background-size: cover;
      background-position-y: 30%;
      padding-bottom: 20px;

      > h1 {
        color: white;
        font-family: $open;
        font-size: 50px;
        font-weight: bold;
        position: relative;
      }

      > span {
        color: rgba(257, 257, 257, .8);
        letter-spacing: 4px;
        font-family: $open;
        font-size: 10px;
        position: relative
      }

      &::before {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        background: linear-gradient(to top, $black, $black -20%, transparent);
      }

      .artist-buttons {
        padding-top: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .artist-follow-button {
          border: 2px solid $transluscent-white;
          padding: 10px 30px;
          background-color: rgba(0, 0, 0, .5);
          font-family: $open;
          letter-spacing: 4px;
          font-size: 10px;
          color: white;
          border-radius: 25px;
          position: relative;
          transition-duration: .2s;
          transform: scale(1);

          &:hover {
            transition-duration: .2s;
            transform: scale(1.05);
            border: 2px solid white;
          }
        }
      }
    }

  }

  .artist-description {
    margin: 50px 0 100px 220px;

    > p {
      padding: 0 100px;
      font-family: $open;
      font-weight: lighter;
      letter-spacing: 2px;
      font-size: 10px;
      color: $transluscent-white;
    }
  }

  .artist-tracks {
    margin-left: 220px;
    padding: 0 20px;

    > h1 {
      text-align: center;
    }
  }
}
