.dropdown-container-visible {
  min-width: 150px;
  padding: 8px 0;
  position: absolute;
  z-index: 2;
  top: 25px;
  background-color: $black;
  width: auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.offset-right {
  right: 90px;
}

.dropdown-container-hidden {
  display: none;
}

.dropdown-list {
  color: rgba(255,255,255,.5);
  letter-spacing: 1px;
  font-weight: lighter;
}

.drop-down-item {
  padding: 5px 7px;
  cursor: pointer;
  transition: .2s;
  font-weight: lighter;
  font-size: 13px;
  font-family: $open;

  &:hover {
    color: white;
    background-color: rgba(255,255,255,.02);
    transition: .2s
  }
}

.playlist-dropdown-button {
  position: relative;
  font-size: 20px;
  letter-spacing: 4px;
  font-weight: bold;
  transform: scale(1);
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    transition: .2s;
  }
}

.playlist-dropdown {
  position: relative;
  font-family: $open;
  font-size: 16px;
  font-weight: lighter;
  color: $transluscent-white;
  padding: 0 5px;
  letter-spacing: 4px;
}
