.dropdown-container-visible {
  position: absolute;
  top: 50px;
  right: 90px;
  background-color: $black;
  width: 150px;
  border-radius: 1px;
}

.dropdown-container-hidden {
  display: none;
}

.dropdown-list {
  color: $transluscent-white;
  font-family: $open;
  font-size: 14px;
}

.drop-down-item {
  padding: 5px 7px;
  cursor: pointer;
}
