.featured-playlists-container {
  // background: linear-gradient(rgb(43, 64, 110), rgb(4, 6, 11) 85%) fixed;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.album-index-container {
  // background: linear-gradient(rgb(15, 138, 115), rgb(1, 13, 11) 85%) fixed;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.playlist-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: -40px;
}

.playlist-item {
  margin-left: 8px;
  margin-right: 8px;
}

.playlists-header {
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0 auto;
  font-family: $sans-serif;
  font-weight: bolder;
  font-size: 40px;
  color: white;
}

.playlist-image {
  background-size: cover;
  // background-position: : cover;
  width: 150.33px;
  height: 150.33px;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  border-radius: 0px;
}

.playlist-image:hover .overlay {
  opacity: 1;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .25s ease;
  background-image:
    image_url('play-icon.png'),
    linear-gradient(
      rgba(0, 0, 0, .75),
      rgba(0, 0, 0, .75)
    );
  background-size: cover;
  overflow: hidden;
}


.shadow-light {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, .2);
}

div.shadow-light:hover {
  background-color: rgba(0, 0, 0, .75);
}

.playlist-name {
  font-family: $open;
  font-weight: 300;
  font-size: 14px;
  color: #d8d8d8;
  text-align: center;
  padding-top: 20px;
  max-width: 150px;
  word-wrap: normal;
}

.list {
  padding-top: 150px;
  padding-left: 250px;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-start;
}
