.featured-playlists-container {
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.list {
  margin-left: 220px;
  margin-top: 60px;
  padding: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.playlist-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .playlist-item {
    width: 100%;
    font-size: 22px;

    @include phone {
      width: 45%;
      font-size: 20px;
    }

    @include smallest {
      width: 30%;
      font-size: 18px;
    }

    @include small {
      width: 22%;
      font-size: 16px;
    }

    @include medium {
      width: 18%;
      font-size: 15px;
    }

    @include largest {
      width: 15%;
      font-size: 14px;
    }

    padding-left: 8px;
    padding-right: 8px;
    margin-top: 30px;

    .playlist-loading {
      background-size: cover;
      width: 100%;
      padding-bottom: 100%; //creates 1:1 aspect ratio
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      position: relative;
      background-image: image-url('album_loading.png');

      .playlist-image {
        animation: fadeInLoad .5s ease-in;
        max-height: 100%;
        position: absolute;
        cursor: pointer;
      }

      &::before {
        content: "";
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);

      }
    }

    .circular {
      border-radius: 50%;

      &::before {
        border-radius: 50%
      }
    }

    .playlist-image:hover .overlay {
      opacity: 1;
    }

    .playlist-name, .author {
      font-family: $open;
      font-size: inherit;
      color: #d8d8d8;
      text-align: center;
      padding-top: 15px;
      max-width: 100%;
      word-wrap: normal;
    }

    .author {
      padding-top: 0;
      font-size: 12px;
      color: $transluscent-white;
      transition-duration: .5s;

      &:hover {
        color: white;
        text-decoration: underline;
        cursor: pointer;
        transition-duration: .5s;
      }
    }

    .overlay {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .25s ease;
      background-image:
      image_url('play-icon.png'),
      linear-gradient(
      rgba(0, 0, 0, .75),
      rgba(0, 0, 0, .75)
      );
      background-size: cover;
      overflow: hidden;
    }
  }
}

.album-index-container {
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.playlists-header {
  padding-top: 20px;
  padding-bottom: 15px;
  margin: 0 auto;
  font-family: $sans-serif;
  font-weight: bolder;
  font-size: 35px;
  color: white;
}

.shadow-light {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, .2);
}

div.shadow-light:hover {
  background-color: rgba(0, 0, 0, .75);
}

.loading-spinner {
  background-image: image_url('loading.gif');
  height: 40px;
  width: 40px;
  margin-left: 400px;
  margin-top: 400px;
}
