@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.search__nav--narrow {
  margin: 0 auto;
}

.browse-nav-container {
  animation: fadeInLoad .5s ease-in;
  position: absolute;
  width: calc(100% - 220px);
  z-index: 2;
  margin-left: 220px;
  display: flex;
  justify-content: center;
}

[class*='__no-margin'] {
  margin: 0;
}

[class*='__relative'] {
  position: relative;
}

.browse-nav {
  padding-top: 30px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include small {
    margin: 0 auto;
    padding-top: 30px;
    flex-direction: row;
    justify-content: center;
  }

}

.nav-link-item {
  font-family: $sans-serif;
  letter-spacing: 2.5px;
  font-weight: bolder;
  font-size: 11px;
  color: rgba(257, 257, 257, 0.5);
  padding: 4px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .2s color;

  &:hover {
    color: white;
    transition: .2s color;
  }
}

.nav-selected {
  color: white;
}

.nav-selected::after {
  content: " ";
  height: 2px;
  background: $spotify-green;
  width: 20px;
  position: relative;
  top: 5px;
}

.new-playlist {
  animation: fadeInLoad .2s ease-in;
  position: absolute;
  top: 27px;
  right: 75px;
  background-color: $spotify-green;
  font-family: $open;
  color: white;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  padding: 6px 20px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 1px;
  transform: scale(1);
  // transform: scale(1) translateY(-110%);
  transition-duration: .2s;
  z-index: 3;

  &:hover {
    transform: scale(1.02);
    transition-duration: .2s;
  }
}

.new-playlist-hidden {
  display: none;
}
