// TODO: Apply Link to only be the exact with of the buttom
// TODO: Add "Already have an account?" copy below sign up link

.homepage-wrap {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, .75),
      rgba(0, 0, 0, .75)
    ),
    image_url('background-5.jpg');
  background-size: cover;
  background-position: 0px -70px;
  height: 100vh;
}

.content-container {
  padding-top: 180px;
  display: flex;
  flex-direction: row;
  height: 380px;
  width: 75%;
  margin: 0 auto;

}

.session-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  width: 49%;
  height: 350px;
  border-right: 1px solid rgba(255, 255, 255, .8);
  padding-right: 35px;
}

.spinn-logo-homepage {
  width: 55%;
  color: white;
  font-family: 'Bree Serif', serif;
  font-style: bold;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom: 15px;
}

.login-button {
  border-radius: 30px;
  background: white;
  font-size: 17px;
  // font-weight: bolder;
  font-family: $sans-serif;
  color: $black;
  width: 315px;
  height: 50px;
  text-align: center;
  margin: 20px;
  line-height: 50px;
}

.signup-button {
  border-radius: 30px;
  background: $spotify-green;
  font-size: 17px;
  // font-weight: bolder;
  font-family: $sans-serif;
  color: white;
  width: 315px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.button-container {
  margin: 20px;
  margin-bottom: 0;
}

.static-content {
  margin-left: 60px;
}

strong.static-content-main-copy {
  color: $spotify-green;
  font-family: $sans-serif;
  font-size: 60px;
  font-weight: 500px;
  word-wrap: normal;
}

.logo-white {
  background-image: image_url("Spinn_logo_white.png");
  background-size: cover;
  height: 50px;
  width: 50px;
}
.static-content-header-div {
  margin-top: 30px;
}

.login-link {
  width: 100%;
  height: 100%;
}

.static-content-sub-header {
  font-family: $sans-serif;
  font-weight: lighter;
  color: white;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.static-content-span-div {
  font-family: $sans-serif;
  font-weight: normal;
  color: white;
  font-size: 20px;
  padding-right: 10px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

i {
  color: $spotify-green;
  font-size: 20px;
  padding-right: 10px;
}

.demo-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #e2e2e2;
  font-family: $sans-serif;
  align-items: center;
  margin-right: 100px;
}

span.demo-text {
  font-size: 17px;
  font-weight: 400;
  margin-top: 3px;
}

.demo-login button {
  margin-left: 8px;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 4px 12px;
  border: 1px solid #9b9b9b;
  color:#9b9b9b;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
}

.demo-login button:hover {
  border: 1px solid white;
  color: white;
  transition: ease-in-out;
  transition-duration: 0.75s;
}
