
.now-playing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  background-color: #181818;
  height: 90px;
  position: fixed;
  z-index: 101;
  width: 100%;
}

.current-song {
  height: 56px;
  width: 30%;
}

.audio-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 61px;
}

.progress-bar-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.progress-bar-container {
  width: 85%;
  display: flex;
  position: relative
}

.current-progress {
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: 2px;
  background-color: #a0a0a0;
  transition: .2s ease-out;
}

.progress-bar-container:hover .current-progress {
  transition: .2s ease-in;
  background-color: $spotify-green;
}

.progress-bar-container > .slide {
  margin-top: 2px;
}


.audio-buttons {
  margin-bottom: 12px;
  display: flex;
  width: 224px;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}

.audio-buttons button {
  opacity: .5;
  transition: ease;
  transition-duration: .2s
}

.audio-buttons button:hover {
  opacity: .9;
  transition: ease;
  transition-duration: .2s
}

.audio-buttons i {
  font-size: 16px;
  color: white;
}

.song-time {
  font-size: 11px;
  letter-spacing: 1px;
  font-family: $open;
  color: white;
  opacity: .4;
}

.small-button {
  height: 16px;
  width: 16px;
}

.play-button {
  height: 32px;
  width: 32px;
  background-image: image_url('play-button-new.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.pause {
  background-image: image_url('pause-button.png');
}

.volume-controls {
  width: 30%;
  min-width: 180px;
  height: 32px;
  display: flex;
  justify-content: flex-end;
}

.volume-container {
  width: 180px;
}

.control-elements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px
}

.slideable-bar {
  width: 136px;
  align-items: center;
  display: flex;
}

.slidecontainer {
  display: flex;
}

.slider {
  -webkit-appearance: none;
  outline: none;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background-color: #404040;
  cursor: pointer;
}



.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    transform: scale(.5);
    opacity: .5;
    cursor: pointer;
    border-radius: 50%;
    transition: .1s ease-out;
}

.slidecontainer:hover ::-webkit-slider-thumb {
    opacity: 1;
    background: #fff;
    transition: .1s ease-in;
    transform: scale(1);
}

.progress-bar-container:hover ::-webkit-slider-thumb {
    opacity: 1;
    background: #fff;
    transition: .1s ease-in;
    transform: scale(1);
}

.draggable-element {
  width: 12px;
  height: 12px;
  transform: scale(.5);
  opacity: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: .1s ease-out;
  background-color: #fff;
  margin-left: -6px;
  margin-top: -6px;
  z-index: 1000;
  position: absolute;
}

.draggable-element:hover {
  // width: 12px;
  // height: 12px;
  transform: scale(1);
  transition: .2s ease-in;
}

i[class*="fa-volume-"] {
  color: white;
  opacity: .5;
}
