.playlist-show-wrapper {
  // background: linear-gradient(rgb(115, 39, 38), rgb(11, 3, 3) 85%) fixed;
  // background: linear-gradient(rgb(156,83,74), rgb(15,8,7) 85%) fixed;
  height: 100vh;
}

.playlist-show-container {
  margin-left: 220px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  animation: fadeInLoad .5s;
}

.playlist-info {
  width: 25%;
  padding-left: 40px;
  padding-right: 30px;
  margin-top: 40px;


  .playlist-loading {
    background-size: cover;
    width: 100%;
    padding-bottom: 100%; //creates 1:1 aspect ratio
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    border-radius: 0px;
    position: relative;
    background-image: image-url('album_loading.png');

    .playlist-image {
      animation: faseInLoad .5s ease-in;
      max-height: 100%;
      position: absolute;
      cursor: pointer;
      // background-size: cover;
      // box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    &:before {
      content: "";
      cursor: pointer;
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    }
  }

  .headers {
    padding-top: 10px;
    color: #e2e2e2;
    font-size: 30px;
    font-family: $open;
    font-weight: bolder;

    .playlist-title, .sub-header {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      padding-top: 10px;

      a:hover {
        text-decoration: underline;
        cursor: pointer;
        color: white;
        transition-duration: .5s;
      }
    }

    .sub-header {
      margin-top: 10px;
      color: $transluscent-white;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 300;
      font-family: $open;
    }
  }
}

.show {
  width: 100%;
  background-position: contain;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  border-radius: 2px;
}

.show-light {
  height: 1.5px;
}

.tracklist-container {
  width: 75%;
  height: auto;
  padding: 40px 8px 100px 0;
  margin: 0 auto;
  list-style: decimal inside;
  overflow-y: scroll;
}

.tracklist {
  width: 100%;
  list-style: decimal inside;
}

.artist {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
