.playlist-show-wrapper {
  // background: linear-gradient(rgb(115, 39, 38), rgb(11, 3, 3) 85%) fixed;
  // background: linear-gradient(rgb(156,83,74), rgb(15,8,7) 85%) fixed;
  height: 100vh;
}

.playlist-show-container {
  margin-left: 220px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  animation: fadeInLoad .5s;
  overflow-y: scroll;
}

.playlist-info {
  width: 25%;
  padding-left: 40px;
  padding-right: 30px;
  margin-top: 40px;

  .playlist-image-container {
    position: relative;

    &:hover .playlist-image-overlay {
      display: flex;

      .overlay-play-button-container {
        display: flex;
        margin: calc(50% - 30px) auto;
        width: 40px;
        height: 40px;
        padding: 10px;
        border: 1px solid white;
        border-radius: 50%;
        transform: scale(1);
        transition: transform .2s;
        z-index: 2;

        &:hover {
          cursor: pointer;
          transition: transform .2s;
          transform: scale(1.1);
        }

        .overlay-play-button {
          height: 30px;
          width: 30px;
          position: relative;
          left: 8px;
          top: 5px;
        }
      }
    }

    .playlist-loading {
      background-size: cover;
      width: 100%;
      padding-bottom: 100%; //creates 1:1 aspect ratio
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      border-radius: 0px;
      position: relative;
      background-image: image-url('album_loading.png');

      .playlist-image {
        animation: faseInLoad .5s ease-in;
        max-height: 100%;
        position: absolute;
        cursor: pointer;
      }

      &:before {
        content: "";
        cursor: pointer;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
      }
    }


    .playlist-image-overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0, 0, 0, .7);
      display: none;
    }
  }

  .headers {
    padding-top: 10px;
    color: #e2e2e2;
    font-size: 30px;
    font-family: $open;
    font-weight: bolder;

    .playlist-title {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      padding-top: 10px;

      a:hover {
        text-decoration: underline;
        cursor: pointer;
        color: white;
        transition-duration: .5s;
      }
    }

    .sub-header {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      margin-top: 10px;
      color: $transluscent-white;
      letter-spacing: 1px;
      font-size: 11px;
      font-weight: 300;
      font-family: $open;
    }

    .play-button {
      margin: 20px auto;
      width: 50px;
      text-align: center;
      background-color: $spotify-green;
      font-family: $open;
      color: white;
      box-shadow: 0 0 10px rgba(0,0,0,.3);
      padding: 10px 40px;
      border-radius: 25px;
      font-size: 10px;
      font-weight: lighter;
      letter-spacing: 2px;
      transform: scale(1);
      transition-duration: .2s;

      &:hover {
        transform: scale(1.02);
        transition-duration: .2s;
        cursor: pointer;
      }
    }

    .playlist-buttons {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
      width: 45%;

      .playlist-follow {
        font-family: $open;
        font-size: 10px;
        font-weight: lighter;
        letter-spacing: 2px;
        padding: 0 5px;
        color: $transluscent-white;
        transform: scale(1);
        transition: transform .25s;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }
}

.show {
  width: 100%;
  background-position: contain;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  border-radius: 2px;
}

.show-light {
  height: 1.5px;
}

.tracklist-container {
  width: 75%;
  height: auto;
  padding: 40px 8px 100px 0;
  margin: 0 auto;
  list-style: decimal inside;
}

.tracklist {
  width: 100%;
  list-style: decimal inside;
}

.artist {
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
