.sidebar {
  width: 220px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
  background: rgba(0,0,0,.5);
  overflow: auto;
  min-height: 0;
  will-change: transform;
}

.nav-links {
  padding: 24px;
  padding-bottom: 95px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-expand {
  flex: 1;
}

.sidebar-logo {
  background-image: image_url('Spinn_logo_white.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
  padding-bottom: 4px;
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.sidebar-group {
  border-top: 1px solid hsla(0,0%,100%,.25);
  padding-bottom: 5px;
  padding-top: 10px;
}

.with-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: lighter;
}

.sidebar-item {
  font-size: 16px;
  font-weight: bolder;
  font-family: $sans-serif;
  color: #8c8c8c;
  padding: 8px 0;
  margin-bottom: 4px;
  transition: 0.25s ease-in-out;
}

.sidebar-item:hover {
  color: #d1d1d1;
  transition: ease-in-out;
  transition-duration: 0.15s;
}

.session-info {
  // display: none;
  padding-top: 8px;
  border-top: 1px solid #404040;
  vertical-align: baseline;
}

.user-widget {
  margin: 7px 0;
}

.user-avatar {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(0,9,9,.15);
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.user-link {
  font-size: 16px;
  font-weight: bolder;
  color: #e2e2e2;
  margin-left: 10px;
  font-family: $sans-serif;
}
