// .track-row {
//   width: 100%;
//   padding: 5px 0
// }


.track-row-wrapper {
  padding: 5px 8px;
  width: 100%;
  transition: background-color .2s;
  color: $transluscent-white;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: lighter;
  font-family: $open;
  border-radius: 1px;
}

.track-row-wrapper:hover {
  background-color: rgba(0,0,0,.1);
  transition: .2s;
  list-style: circle inside;
}

.track-play-pause {
  font-size: 0px;
}

.track-row {
  position: relative;
}

.track-row-wrapper:hover .track-play-pause {
  display: block;
  position: absolute;
  top: 0;
  // left: 9;
  color: white;
  font-size: 22px;
  transition: .1s ease-in
}

.track-info{
  width: 95%;
  margin-left: 27px;
  height: 100%;
  margin-top: 0;
  list-style: decimal inside;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.no-hover {
  pointer-events: none;
  font-size: 20px;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 30px;
}

.track-details {
  margin-top: -22px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}

.track-title {
  font-size: 16px;
  color: white;
}

.track-album-artist span:hover {
  text-decoration: underline;
}
